// Color Palette
// $green-primary: #55d040;
// $green-dark: #119d36;
// $orange-primary: #ff9900;
// $orange-light: #ff6600;
// $red-error: #fc5272;
// $black: #222222;
$white-primary: #ffffff;
$white-secondary: #fafafa;

// Primary
$green-primary: #55d040;
$green-secondary: #82d95b;
$green-tertiary: #a0e386;
$green-light: #c0ecb0;
$green-light2: #dff6d8;
$green-light3: #effaea;

// Dark Green
$green-dark: #119d36;
$green-dark2: #45b12a;
$green-dark3: #50bb2c;

// Orange
$orange-primary: #ff9900;
$orange-secondary: #ff6600;
$orange-dark: #e98000;
$orange-tertiary: #e8ad0d;
$orange-light: #fbd694;
$orange-light2: #fdebca;
$orange-light3: #fef4e4;
$orange-light4: #fefaf1;

// Error
$red-error: #fc5272;
$red-error2: #f8bac6;
$red-error3: #fcedf1;

// Gray
$black: #222222;
$black-secondary: #4e4e4e;
$gray: #666666;
$gray2: #bdbdbd;
$gray3: #dedede;
$gray-secondary: #999999;
$gray-btn-border:#cccccc;
$gray-light: #bbbbbb;
$light: #e8e8e8;

// Bluish Gray
$bluish-gray: #eaf2f2;
$bluish-gray2: #dae1e1;
$bluish-gray3: #c2c9ca;
$bluish-gray4: #b3bcbe;
$bluish-gray5: #8f9596;

// High Emphasis
$sea: #5395e3;
$violet: #5453e3;
$grape: #9682ea;
$lilac: #b982ea;
$orchid: #d782ea;
$pink: #ea82cd;
$rose: #ff7777;
$orange: #ea6d37;
$salmon: #ea8937;
$rattan: #f4c430;
$mustard: #adbf24;
$olive: #5db332;
$grass: #1dc999;
$turquoise: #08aeb5;

// Background
$bg-light: $white-secondary;
$bg-spacial: #f1f7f8;
$bg-simple: #eef2f3;