@import './color';
@import './typography';
@import './layout';
@import './button';
@import './form';
@import './modal';
body {
    margin: 0;
    padding: 0;
    //background-color: #eef2f3;
    font-family: $font-pc;
    > div {
        background-color: #eef2f3;
    }
}

#wrapper > .content {
    width: 700px;
    margin-top: 20px;
    border-radius: 3px;
    &.single {
        height: calc(100vh - 80px);
    }
    .application {
        background: $white-primary;
        margin-top: 50px;
        padding-top: 80px;
        padding-bottom: 100px;
        margin-bottom: 80px;
        text-align: center;
        svg {
            margin-bottom: 30px;
            + h2 {
                margin-bottom: 8px;
                + p {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
.buttonArea {
    text-align: center;
    button {
        margin: 30px 10px;
    }
}
